@using Vacancy.Core
@using Vacancy.Repository.Dto.ResumeDto
@using Vacancy.Repository.Dto.EducationDto
@model IEnumerable<Resume>

@{
}

<h1>Резюме</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>EducationId</th>
            <th>EducationName </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.EducationId</td>
                <td>@u.Education.EducationName </td>
                <td>@u.SkillId </td>
                <td>@u.Skill.SkillName</td>                
                <td>@u.ExperienceId</td>
                <td>@u.Experience.ExperienceName </td>
                
            </tr>
        }
    </tbody>
</table>

